ion-icon {
  font-size: 24px;
}

.rmp{
    margin:0 ! important;
    padding:0 ! important;
}

.rm{
    margin: 0 !important;
}

.rp{
    padding: 0 !important;
}

.header{
    background-image: url("images/header-bg.jpg");
    color: #ffffff;
}

.bottom-bar{
    border-top: 1px solid gray;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
}

.bottom-bar a{
    color: #000000;
}

.kategori{
    background-color: #000000;
    color: #ffffff;
}

.kategori-item a{
    color: #ffffff;
    text-decoration: none;
}

.footer{
    background-color: #000000;
    color: #ffffff;
}


/*Posto*/

.photo-preview{
    border: 1px solid gray;
    border-radius: 12px;
    width: 90px;
    height: 90px;
}

.photo-add{
    border: 1px dashed gray;
    border-radius: 12px;
    width: 90px;
    height: 90px;
}

.map-view{
    border: 1px solid gray;
    border-radius: 12px;
    height: 200px;
}
